@page "/auth"
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

<h3>Authentication Status</h3>

@* Example of using the AuthorizeView component to display different content based on the user's authentication status: *@
<AuthorizeView>
    <Authorized>
        <p>User Logged In: @context.User.Identity.Name</p>
        <p>Role:  @context.User.Claims.First(o => o.Type == ClaimTypes.Role).Value</p>
    </Authorized>
    <NotAuthorized>
        <p>Not logged in</p>
    </NotAuthorized>
</AuthorizeView>

@* Example of using the AuthorizeView component to display different content based on the user's role: *@
<AuthorizeView Roles="Admin">
    <Authorized>
        <h3>Admin Dashboard</h3>
        <p>Welcome, Admin! You have access to this because you are an administrator.</p>
    </Authorized>
    <NotAuthorized>
        <p>You do not have the Admin Role.</p>
    </NotAuthorized>
</AuthorizeView>

